<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Try WebdriverIO</title>
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div id="codewrapper" class="col">
      <label class="url-container">Url To Test: <input type="url" id="baseUrl" value="{{{baseUrl}}}" name="baseUrl" /></label>
      <pre id="code" name="script">{{{file}}}</pre>
      <button id="run" type="button" disabled>
        Connecting...
      </button>
    </div>

    <div id="console" class="col">
      <h2>Console Output</h2>
      <pre id="messages" class="tomorrow-night-eighties-ansi-theme"></pre>
      <span id="spinner" class="show">
        <div class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </span>
    </div>


    <button id="share" type="button">
      Share this test
    </button>
    <div id="shareUrl">
      <label for="sharable-url">Your url is:</label>
      <input type="text" id="sharable-url" />
      <button class="close-share">Close</button>
    </div>


    <div class="sponsor">Sponsored by <a href="https://learn.webdriver.io">learn.webdriver.io</a></div>

    <script src="/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("code");
        editor.setTheme("ace/theme/monokai");
        editor.setOptions({
          fontSize: "1em"
        });
        editor.setShowPrintMargin(false);
        editor.session.setMode("ace/mode/javascript");
    </script>
    <script src="/ansi_up.js"></script>
    <script src="/app.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.klamp.in/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '7']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
  </body>
</html>