html,
body {
    padding: 0;
    margin: 0;
    color: #363333;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.col {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
}

h2,
.url-container {
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding-left: 1em;
    background: #404969;
    color: #F5FEFF;
    font-family: "Lato", sans-serif;
}

input {
    flex: 1;
    font-size: 1.3rem;
    padding: .5rem .5rem .5rem 1.5rem;
    margin: 0 0 0 1rem;
    height: 100%;
    box-sizing: border-box;
    background: #737c9c;
    color: #F5FEFF;
    border: 0;
}

#codewrapper {
    position: relative;
}

#code {
    flex: 1 0;
    margin: 0;
}

#run {
    position: absolute;
    top: 3rem;
    right: 0%;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #363333;
    color: #F5FEFF;
    border: 0;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #9B9494;
}

#run:hover,
#run:focus {
    background: #686868;
    cursor: pointer;
}

#console {
    max-width: 50vw;
}

#messages {
    flex: 1 0 auto;
    margin: 0;
    overflow: scroll;
    padding: 1em;
    max-height: calc(100vh - 3rem);
    box-sizing: border-box;
    background: #F5FEFF;
}


#share {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #363333;
    color: #F5FEFF;
    border: 0;
}

#share:hover,
#share:focus {
    background: #686868;
    cursor: pointer;
}

#shareUrl {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #363333;
    color: #F5FEFF;
    border: 0;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #9B9494;
    display: none;
}

#shareUrl.show {
    display: block;
}