html,
body {
    padding: 0;
    margin: 0;
    color: #363333;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.col {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
}

h2,
.url-container {
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding-left: 1em;
    background: #404969;
    color: #F5FEFF;
}

input {
    flex: 1;
    font-size: 1.3rem;
    padding: .5rem .5rem .5rem 1.5rem;
    margin: 0 0 0 1rem;
    height: 100%;
    box-sizing: border-box;
    background: #737c9c;
    color: #F5FEFF;
    border: 0;
}

#codewrapper {
    position: relative;
}

#code {
    flex: 1 0;
    margin: 0;
}

#run {
    position: absolute;
    top: 3rem;
    right: 0%;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #363333;
    color: #F5FEFF;
    border: 0;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #9B9494;
}

#run:hover,
#run:focus {
    background: #686868;
    cursor: pointer;
}

#run[disabled] {
    cursor: progress;
    background: #686868;
}

#console {
    max-width: 50vw;
    position: relative;
}

#spinner {
    position: absolute;
    top: 3.5em;
    right: 1em;
    width: 50px;
    height: 50px;
    padding: 5px;
    display: none;
}
#spinner.show {
    display: block;
}

#messages {
    flex: 1 0 auto;
    margin: 0;
    overflow: scroll;
    padding: 1em;
    max-height: calc(100vh - 3rem);
    box-sizing: border-box;
    background: #F5FEFF;
}


#share {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #737c9c;
    color: #F5FEFF;
    border: 0;
    height: 3rem;
}

#share:hover,
#share:focus {
    background: #ea5906;
    cursor: pointer;
}

#shareUrl {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 10;
    font-size: 1.3em;
    padding: 10px 20px;
    background: #363333;
    color: #F5FEFF;
    border: 0;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #9B9494;
    display: none;
}

#shareUrl.show {
    display: block;
}
#shareUrl input {
    width: 30rem;
    margin-left: .5rem;
    padding: .5rem;
}


.sponsor {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ea5906;
    z-index: 10;
    padding: 2px 1rem;
    font-weight: bold;
    color: #F5E1DA;
    text-align: right;
}
.sponsor a {
    padding: .5rem 0;
    color: #F5E1DA;
    display: inline-block;
}
.sponsor a:hover,
.sponsor a:focus {
    color: #fff;
}



.sk-circle {
  width: 100%;
  height: 100%;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}